<header>
    <h1>Texas Weather App</h1>
    <h2>{{ city }}, TX</h2>
</header>
<main>
  <div class="info-container">
    <p><strong>Temperature:</strong> {{ temp }}</p>
    <p><strong>Low:</strong> {{ low }}</p>
    <p><strong>High:</strong> {{ high }}</p>
    <p><strong>Humidity:</strong> {{ humidity }}</p>
    <p><strong>Pressure:</strong> {{ pressure }}</p>
  </div>
  <div class="search-container">
    <i (click)="updateWeatherInfo()" class="fas fa-search"></i>
    <input type="text" [(ngModel)]="city" placeholder="Enter a city"/>
  </div>
  <p class="error">{{ error }}</p>
</main>
